.item{
    background-color: rgb(114, 102, 100);
    width: 33%;
    display: inline-block;
    text-align: center;
}

img{
    width: 100%;
}
h2{
    text-align: center;
}

.o-letter{
    color: rgb(22, 73, 73);
    font-size: 50;
}